@page
@model prac6_1000.Pages.Page1Model
@{
    ViewData["Title"] = "1 page";
}

<h1>Page 1</h1>
<p>This is All Tickets and First EndPoint</p>

<table>
    <tr>
        <th>ID</th>
        <th>Film</th>
        <th>Places</th>
        <th>Date</th>
        <th>Status</th>
        <th>Client ID</th>
    </tr>
    @foreach (var ticket in Model.Tickets)
    {
        <tr>
            <td>@ticket.id</td>
            <td>@ticket.film</td>
            <td>@ticket.places</td>
            <td>@ticket.date</td>
            <td>@ticket.status</td>
            <td>@ticket.clientID</td>
        </tr>
    }
</table>
